.border {
	background-color: black;
}
.transaction-grid {
	display: grid;
	grid-template-columns: minmax(25px, 1fr) 1fr 1fr 1fr;

}
.transaction-container{
		grid-gap: 1px;
} 

.transaction-container > div {
	background:white;
	padding: 5px;
}

.column-name {
	padding: .2rem;
	justify-self: stretch;
	text-align: center;
}

.transaction-item {
	background-color: white;
	padding: .25rem 0;
	margin: .25rem 0;
	justify-items: center;
	overflow: hidden;
	border-radius: 8px;
}

.transaction-item > div {
	overflow: auto;
}

.add-btn-div {
	margin: 1rem 0;
}
.width {
	width: 5rem;
}

.add-btn {
	background-color: var(--var3) !important;
}
 
@media only screen and (min-width: 980px) {
	.transaction-grid{
		grid-template-columns: minmax(25px, 1fr) 2fr 2fr 1fr;
	
	}
	
}
